.offers {
    display: flex;

    .offersContainer {
        flex: 6;

        h1 {
            text-align: center;
            color: rgb(6, 77, 6);
            margin-bottom: 50px;
        }

        .advertisement-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;


            .advertisement-bubble {
                display: flex;
                align-items: center;
                margin-right: 20px;
                margin-bottom: 20px;
                width: 45%;
                border: solid 2px green;
                border-radius: 25px;
            }

            .profile-image {
                width: 30%;
                height: 100%;
                border-radius: 22px 0 0 22px;
                margin-right: 20px;
            }

            .advertisement-info {
                flex: 1;

                h3 {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    text-decoration: underline;
                }

            }

            .offersButton {
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                .seeOffers {
                    color: white;
                    background-color: green;
                    border: none;
                    border-radius: 25px;
                    font-size: 20px;
                    font-weight: 700;
                    padding: 10px 20px 10px 20px;
                    margin-bottom: 10px;
                    cursor: pointer;
                }

                .deleteOffers {
                    color: white;
                    background-color: red;
                    border: none;
                    border-radius: 25px;
                    font-size: 20px;
                    font-weight: 700;
                    padding: 10px 20px 10px 20px;
                    margin-bottom: 10px;
                    cursor: pointer;
                }
            }
        }
    }
}